.objects {
  background: linear-gradient(to right, #159957, #155799);
  width: 100%;
  height: 100vh;
}
.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 30s linear infinite;
  bottom: -150px;
  border-radius: 50%;
}
.box li:nth-child(1) {
  left: 85%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box li:nth-child(2) {
  left: 12%;
  width: 32px;
  height: 32px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box li:nth-child(4) {
  left: 45%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

@keyframes animate {
  0% {
    transform: translateY(0) scale(0);
  }
  100% {
    transform: translateY(-850px) scale(2);
    opacity: 0;
  }
}
